<header class="dashboard-header">
  <div class="wrapper">
    <a href="/">
      <figure class="site-logo">
        <h4>TWS Logistics</h4>
      </figure>
    </a>

    <div class="cont">
      <div class="details">
        <span class="email-cont"> <%= user.email %>  </span>
      </div>

      <nav>
        <ul>
          <li>
            <a href="/logout">
              <span>Log Out</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>