<aside class="sidebar">
  <div class="wrapper">
    <nav class="nav">
      <div class="nav-section">
        <ul class="cards nav-cards">
          <li class="card active">
            <a href="/dashboard">
              <span>Dashboard</span>
            </a>
          </li>
          <li class="card show-if-admin">
            <a href="/admin">
              <span>Admin</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="nav-section">
        <h4>Account</h4>
        <ul class="cards nav-cards">
          <li class="card">
            <a href="#">
              <span>Profile</span>
            </a>
          </li>
          <li class="card">
            <a href="#">
              <span>Log Out</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</aside>