<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/assets/css/home.css" />
    </head>
<body>

    <%- include('./partials/header.ejs') %>

  <div class="site-blocks-cover overlay"
    style="background-image:url(./assets/img/xhero_bg_1.jpg.pagespeed.ic.tLtLHKGWU8.webp)" data-aos="fade"
    data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
          <h1 class="text-white font-weight-light text-uppercase font-weight-bold">WELCOME TO TWS Logistics</h1>
          <p>Freight Service and Logistics. Road, Train , Air or overseas. <br>
            We got it covered!
          </p>
          <p><a href="#" class="btn btn-primary py-3 px-5 text-white">Track your shipment</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center no-gutters align-items-stretch overlap-section">
      <div class="col-md-4">
        <div class="feature-1 pricing h-100 text-center">
          <div class="icon">
            <span class="icon-dollar"></span>
          </div>
          <h2 class="my-4 heading">Best Prices</h2>
          <p>We offer low-cost rates for both domestic and international shipping so all of your packages arrive on
            time.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="free-quote bg-dark h-100">
          <h2 class="my-4 heading  text-center">Get Free Quote</h2>
          <form method="post">
            <div class="form-group">
              <label for="fq_name">Name</label>
              <input type="text" class="form-control btn-block" id="fq_name" name="fq_name" placeholder="Enter Name">
            </div>
            <div class="form-group mb-4">
              <label for="fq_email">Email</label>
              <input type="text" class="form-control btn-block" id="fq_email" name="fq_email" placeholder="Enter Email">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary text-white py-2 px-4 btn-block" value="Get Quote">
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-3 pricing h-100 text-center">
          <div class="icon">
            <span class="icon-phone"></span>
          </div>
          <h2 class="my-4 heading">24/7 Support</h2>
          <p>We know customer service is the key to success in the e-commerce industry. In fact, we've built a team of
            experts who'll do whatever it takes to make your experience with us better than ever.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="mb-0 text-primary">What We Offer</h2>
          <p class="color-black-opacity-5">TWS Logistics Shipping Company has always been one of the leading global
            express delivery company in the country</p>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-travel"></span></div>
            <div>
              <h3>Air Freight</h3>
              <p>
                When exporting, go with the most knowledgeable and experienced team of professionals in international
                air freight forwarding & shipping. We provides air export services for multiple cargo</p>
              <p class="mb-0"><a href="./services.html">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-sea-ship-with-containers"></span></div>
            <div>
              <h3>Ocean Freight</h3>
              <p>We offer a complete range of international ocean freight services for import and export including less
                than container load shipments (LCL) to full containers (FCL), general cargo, specialized items and
                automobile export.</p>
              <p class="mb-0"><a href="./services.html">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-frontal-truck"></span></div>
            <div>
              <h3>Ground Shipping</h3>
              <p>We are specialists in international courier services and our wide range of express parcel and package
                services, along with shipping and tracking solutions, we manage every detail to fit your needs.
              </p>
              <p class="mb-0"><a href="./services.html">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section block-13">

    <div class="owl-carousel nonloop-block-13">
      <div>
        <a href="#" class="unit-1 text-center">
          <img src="./assets/img/xblog_1.jpg.pagespeed.ic.wHY24A6KXW.webp" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <h3 class="unit-1-heading">Storage</h3>
            <p class="px-5">If you happen to be a business owner, you should know how importatnt it is to preserve goods
              in the effort taken into proper storage.</p>
          </div>
        </a>
      </div>
      <div>
        <a href="#" class="unit-1 text-center">
          <img src="./assets/img/xblog_2.jpg.pagespeed.ic.ywvyQzWWwC.webp" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <h3 class="unit-1-heading">Air Transports</h3>
            <p class="px-5">We provide air freight logistics solutions as well as streamlined visibility and monitoring
              and unbeatable levels of customer service for all national and international cargos. </p>
          </div>
        </a>
      </div>
      <div>
        <a href="#" class="unit-1 text-center">
          <img src="./assets/img/ximg_3.jpg.pagespeed.ic.l-WgnDzWo-.webp" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <h3 class="unit-1-heading">Cargo Transports</h3>
            <p class="px-5"> We promise a timely and cost effective delivery of goods to the desired destination. </p>
          </div>
        </a>
      </div>
      <div>
        <a href="#" class="unit-1 text-center">
          <img src="./assets/img/ximg_4.jpg.pagespeed.ic.7vFLkPZ6gS.webp" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <h3 class="unit-1-heading">Cargo Ship</h3>
            <p class="px-5">We provide the best cargo shipping services in the industry. Ensuring that all goods are
              delivered in good condition.</p>
          </div>
        </a>
      </div>
      <div>
        <a href="#" class="unit-1 text-center">
          <img src="./assets/img/ximg_5.jpg.pagespeed.ic.P-DKUDtCEa.webp" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <h3 class="unit-1-heading">Ware Housing</h3>
            <p class="px-5">Regardless of the kind of business that you are involved in, the warehousing facilities does
              have a huge number of benefits to offer.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="site-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light text-primary">More Services</h2>
          <p class="color-black-opacity-5">We Offer The Following Services</p>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-travel"></span></div>
            <div>
              <h3>Air Freight</h3>
              <p>TWS Logistics's Air freight shipping service takes care of your freight handling from the moment it arrives at
                the airport until it leaves for its destination. We have a team of experts who can help you with all
                aspects of international freight forwarding and customs clearance. With 30 years of experience in this
                industry, we make sure your shipment reaches its destination as quickly and easily as possible.
              </p>
              <p><a href="./services">Get Started</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-sea-ship-with-containers"></span></div>
            <div>
              <h3>Ocean Freight</h3>
              <p>TWS Logistics offers cost-effective international shipping solutions, no matter what your cargo type. We are
                able to transport your goods quickly and affordable without any compromise on customer satisfaction. You
                can rely on our wealth of experience to offer you the lowest rates available on the market, backed up
                with excellent customer service. </p>
              <p><a href="./services">Get Started</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-frontal-truck"></span></div>
            <div>
              <h3>Ground Shipping</h3>
              <p>Ground shipping may be just what you need to get your parcels delivered on time. TWS Logistics handles ground
                shipping for customers across the country – and we guarantee a quick, uncomplicated delivery. Choose
                from our wide range of services, including a standard package or a more personalised one.
              </p>
              <p><a href="./services">Get Started</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-blocks-cover overlay inner-page-cover"
    style="background-image:url(./assets/img/xhero_bg_2.jpg.pagespeed.ic.4lkjgEL-SD.webp);background-attachment:fixed">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-7" data-aos="fade-up" data-aos-delay="400">
          <a href="https://vimeo.com/channels/staffpicks/93951774"
            class="play-single-big mb-4 d-inline-block popup-vimeo"><span class="icon-play"></span></a>
          <h2 class="text-white font-weight-light mb-5 h1">View Our Services By Watching This Short Video</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section border-bottom">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light text-primary">Testimonials</h2>
        </div>
      </div>
      <div class="slide-one-item home-slider owl-carousel">
        <div>
          <div class="testimonial">
            <figure class="mb-4">
              <img src="./assets/img/xperson_5.jpg.pagespeed.ic.zY-y25qZs4.webp" alt="Image" class="img-fluid mb-3">
              <p>John Smith</p>
            </figure>
            <blockquote>
              <p>&ldquo;TWS Logistics is both attractive and highly adaptable. You won't regret it. The very best. It fits our
                needs perfectly.&rdquo;</p>
            </blockquote>
          </div>
        </div>
        <div>
          <div class="testimonial">
            <figure class="mb-4">
              <img src="./assets/img/image (1).jfif" alt="Image" class="img-fluid mb-3">
              <p>Christine Aguilar</p>
            </figure>
            <blockquote>
              <p>&ldquo;It's really wonderful. I was amazed at the quality of TWS Logistics . TWS Logistics has completely surpassed
                our expectations. It's incredible.&rdquo;</p>
            </blockquote>
          </div>
        </div>
        <div>
          <div class="testimonial">
            <figure class="mb-4">
              <img src="./assets/img/image (4).jpg" alt="Image" class="img-fluid mb-3">
              <p>Jane Spears</p>
            </figure>
            <blockquote>
              <p>&ldquo;It's the perfect solution for our business. Since I invested in TWS Logistics I made over 100,000
                dollars profits. You guys rock!&rdquo;</p>
            </blockquote>
          </div>
        </div>
        <div>
          <div class="testimonial">
            <figure class="mb-4">
              <img src="./assets/img/image (2).jpg" alt="Image" class="img-fluid mb-3">
              <p>Andy Rogers</p>
            </figure>
            <blockquote>
              <p>&ldquo;TWS Logistics has been the best shipping company I have ever used. They always help me with any issues
                that come up and provide a personal touch, which is what I love the most about them.&rdquo;</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light text-primary">Our Blog</h2>
          <p class="color-black-opacity-5">See Our Daily News &amp; Updates</p>
        </div>
      </div>
      <div class="row mb-3 align-items-stretch">
        <div class="col-md-6 col-lg-6 mb-4 mb-lg-4">
          <div class="h-entry">
            <img src="./assets/img/xblog_1.jpg.pagespeed.ic.wHY24A6KXW.webp" alt="Image" class="img-fluid">
            <h2 class="font-size-regular"><a href="#">How to Survive the U.S. Warehouse Squeeze</a></h2>
            <div class="meta mb-4">by Theresa Winston <span class="mx-2">&bullet;</span> Jan 18, 2021 at 2:00 pm <span
                class="mx-2">&bullet;</span> <a href="#">News</a></div>
            <p>The U.S. supply chain is squeezed, with industry reports stating that the country needs to add at least
              330 million square feet of warehouse space dedicated to e-commerce by 2025 in order to keep up with the
              current rate of demand.

              As brick-and-mortar stores shuttered at the onset of the pandemic and consumers moved online, the
              e-commerce industry boomed. Over a year and a half later, it appears the trend could be permanent, as
              e-commerce continues to thrive despite restrictions being lifted and stores reopening.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-4 mb-lg-4">
          <div class="h-entry">
            <img src="./assets/img/xblog_2.jpg.pagespeed.ic.ywvyQzWWwC.webp" alt="Image" class="img-fluid">
            <h2 class="font-size-regular"><a href="#">Black Friday shopping might be too late, thanks to shipping
                delays</a></h2>
            <div class="meta mb-4">by Stepen Weather<span class="mx-2">&bullet;</span> May 18, 2021 at 2:00 pm <span
                class="mx-2">&bullet;</span> <a href="#">News</a></div>
            <p>Any product you order online could take longer than usual for delivery. Global shortages of
              microprocessors, magnets and plastic have slowed production to a crawl. When products are available,
              shipping has choked due to a combination of heightened demand, COVID-related port shutdowns and
              storm-created chaos. Seventy-three cargo ships await unloading at the ports of Los Angeles and Long Beach
              on Saturday, a record. Tennis balls, couches and even pickles have been affected. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section border-top">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2 class="mb-5 text-black">Try Our Services</h2>
          <p class="mb-0"><a href="booking.html" class="btn btn-primary py-3 px-5 text-white">Get Started</a></p>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>

  <%- include('./partials/scripts.ejs') %>

</body>

</html>