$bg: #fff;
$bg-alt: #f8f9fa;
$danger: #d74442;

body {
  background: $bg;
}

ul {
  margin: 0;
}

button {
  cursor: pointer;
}

.cta{
  border: none;
  padding: .5rem 1rem;
}

.delete{
  color: $danger;
  background: none;
  padding: 0;

  &:hover{
    color: darken($danger, $amount: 8);
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  //   background-color: $bg;
  background-clip: border-box;
  padding: 1.5rem;
  border: 0 solid rgba(0, 0, 0, 0.125);

  .options{
    display: flex;
    margin-top: 1.5rem;
  }
}

.dashboard-header {
  position: sticky;
  top: 0;
  width: 100%;
  background: $bg;
  z-index: 9;
  padding: 1rem 2rem;

  .wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .site-logo {
    display: inline-block;
    margin: 0;

    h4 {
      margin: 0;
    }
  }

  .cont {
    display: flex;
    justify-content: right;
    gap: 1rem;
  }
}

.dashboard-main {
  display: flex;
}

.sidebar {
  background: $bg-alt;
  &,
  ~ .site-section {
    padding: 2rem;
  }

  .card {
    min-width: 210px;
    cursor: pointer;
    // padding: .5rem ;

    &.active,
    &:hover,
    &:focus {
      background: $bg;
      box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.051);
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;

  &-section {
    margin-bottom: 1rem;

    h4 {
      padding-left: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}

.site-section {
  width: 100%;
}

.shipments {
  margin-top: 2rem;
  // padding: 1rem;

  p {
    margin-bottom: 0;
  }

  .cards {
    .card {
      background: $bg;
      &:hover,
      &:focus {
        background: $bg-alt;
      }

      border-bottom: 2px solid darken($bg-alt, $amount: 0);
    }
  }
}

// ADMIN ////////////////////////////////

.hidden {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}